<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensor"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- GESTIÓN DE SENSORES (NUEVO) -->
        <!-- Corrección: OpcionesCrudSensor con mayúsculas para coincidir con la clase -->
        <activity
            android:name=".OpcionesCrudSensor"
            android:exported="false" />
        <activity
            android:name=".ListarSensor"
            android:exported="false" />
        <!-- Puedes agregar .IngresarSensor aquí cuando lo crees -->
        <!-- <activity android:name=".IngresarSensor" android:exported="false" /> -->


        <!-- RECUPERACIÓN DE CONTRASEÑA -->
        <activity
            android:name=".RecuperarContraseniaActivity"
            android:exported="false" />
        <activity
            android:name=".CrearContraseniaActivity"
            android:exported="false" />

        <!-- SPLASH (LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN (LOGIN) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- DASHBOARD Y OTRAS -->
        <activity
            android:name=".dashboardAdmin"
            android:exported="true" />
        <activity
            android:name=".opciones_crudusuario"
            android:exported="true" />
        <activity
            android:name=".IngresarUsuario"
            android:exported="false" />
        <activity
            android:name=".ListarUsuario"
            android:exported="false" />
        <activity
            android:name=".ModificarUsuario"
            android:exported="false" />

        <!-- Actividades antiguas o utilitarias -->
        <activity
            android:name=".desarrollador"
            android:exported="true" />

    </application>

</manifest>