<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensor"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- ==========================================
             INICIO Y NAVEGACIÓN PRINCIPAL
             ========================================== -->

        <!-- SPLASH (LAUNCHER) - Única actividad exportada -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- DASHBOARD PRINCIPAL -->
        <activity
            android:name=".dashboardAdmin"
            android:exported="false" />

        <!-- CRÉDITOS / INFO -->
        <activity
            android:name=".desarrollador"
            android:exported="false" />


        <!-- ==========================================
             MÓDULO DE USUARIOS
             ========================================== -->

        <activity
            android:name=".opciones_crudusuario"
            android:exported="false" />

        <activity
            android:name=".IngresarUsuario"
            android:exported="false" />

        <activity
            android:name=".ListarUsuario"
            android:exported="false" />

        <activity
            android:name=".ModificarUsuario"
            android:exported="false" />


        <!-- ==========================================
             MÓDULO DE SENSORES
             ========================================== -->

        <activity
            android:name=".OpcionesCrudSensor"
            android:exported="false" />

        <activity
            android:name=".IngresarSensor"
            android:exported="false" />

        <activity
            android:name=".ListarSensor"
            android:exported="false" />


        <!-- ==========================================
             RECUPERACIÓN DE CONTRASEÑA
             ========================================== -->

        <activity
            android:name=".RecuperarContraseniaActivity"
            android:exported="false" />

        <activity
            android:name=".CrearContraseniaActivity"
            android:exported="false" />

    </application>

</manifest>